.Header {
  background: #eda13d;
  text-align: left;
  padding: 0.3em 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ce8a31;
}

.Header h1 {
  margin: 0;
  font-size: 2em;
  flex: 1;
}

.Header a:link,
.Header a:visited,
.Header a:hover,
.Header a:active {
  color: white;
}

.Header__mazedrivers {
  border: 0;
  display: block;
  font-size: inherit;
  text-transform: lowercase;
  color: white;
  font-family: monospace;
  height: 100%;
  background: transparent;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.Header__mazedrivers:hover {
  cursor: pointer;
}

.Header__codeup,
.Header__github {
  padding: 0.3em;
}
