.Maze {
  position: relative;
  width: calc((1 + 10 * 2) * 30px);
}

.Maze__row {
  width: 100%;
  overflow: hidden;
}

.Maze__cell {
  width: 30px;
  height: 30px;
  float: left;
  background: #bbb;
}

.Maze__cell--entrance,
.Maze__cell--opening,
.Maze__cell--room {
  background: url(./png/grass.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.Maze__cell--wall,
.Maze__cell--corner {
  background: url(./png/bricks.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
